# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/.next
/out

# misc
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/
